body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a{
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

address {
    font-style: normal;
}

img {display: block;}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.wrapper {
  max-width: 1440px;  
  margin: 0 auto;    
}


/*header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;  
  align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
padding: 24px 0;
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}

.contacts {
font-style: normal;
margin-left: auto;
}

.contacts-link {
padding: 24pz 0;
display: block;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/*main секція 1*/

.main-title {
  background-color: #2e2f42;
  height: 648px;
  display: flex;
  align-items: center;
  text-align: center;
 }

.main-text {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;

color: #fff;
margin: 0 auto 48px auto; 
max-width: 496px;
}

.main-btn {
background: #4d5ae5;
color: #fff;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
margin: auto;
display: flex;
align-items: center;
min-width: 169px;
min-width: 56px;
margin: auto;
border-radius:4px;
padding-block: 16px;
padding-inline: 32px;
}


.main-btn:hover, 
.main-btn:focus {
background: #404bbf;
}



.hero-conteiner {
width: 1158px;
padding: 0 15px;
margin: 0 auto;

}

/*info секція 2*/
/*info  2*/

.info-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;   
}

.info-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.info-list {
    display: flex;
}

.info-item {
  width: 264px;  
}

/* hero секція 3*/

.page-team {
background: #f4f4fd;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;}

.team-item {
background: #fff; 

}

.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
/* Our Portfolio секція 4*/

.portfolio-item {
background: #fff;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.portfolio-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* footer*/

.page-footer {
background-color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-info {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;  
}

